.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 12rem;
  min-height: 10rem;
  background-color: #6667ab;
  padding: 2.2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem rgba(255, 255, 255, 0.258);
  gap: 1rem;
  text-align: center;
  margin-left: 1rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 0.5rem;
  text-align: center;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.profileBtn,
.favoriteBtn {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.profileBtn {
  background-color: #891eba;
  color: #fff;
}

.profileBtn:hover {
  background-color: #210635;
}

.favoriteBtn {
  background-color: #210635;
  color: #333;
}

.favoriteBtn:hover {
  background-color: #6667ab;
}

